.triangle-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden;
  }
  
  .triangle-container ion-img {
    width: 100%; 
    height: auto;
    display: block; 
  }