<ion-card>
  <ion-card-header>
    <ion-card-title>Triángulo</ion-card-title>
    <ion-card-subtitle>Perímetro</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>El perímetro de un triángulo es la suma de las longitudes de sus tres lados. En otras palabras, es la medida total del contorno o borde del triángulo
  </ion-card-content>
  <ion-img
    src="assets/icon/triangulo.png" alt="Imagen de Triángulo"
    ></ion-img>
</ion-card>
<ion-list lines="none">
    <ion-item>
      <ion-input [(ngModel)]="ladoA" type="number" label="Lado A (cm)" label-placement="floating" fill="solid" placeholder="Ingrese Perímetro"></ion-input>
      <ion-input [(ngModel)]="ladoB" type="number" label="Lado B (cm)" label-placement="floating" fill="solid" placeholder="Ingrese Perímetro"></ion-input>
      <ion-input [(ngModel)]="ladoC" type="number" label="Lado C (cm)" label-placement="floating" fill="solid" placeholder="Ingrese Perímetro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="calcularPerimetro()">CALCULAR EL PERíMETRO</ion-button> 
    </ion-item>
    <ion-item>
    {{resultado}}
    </ion-item>
  </ion-list>
